body{
    background-color: rgb(234, 255, 255);
}

.container{
    height: 100vh;
    background-color: rgb(13, 97, 97);
    opacity: 0.5;
    Color: rgb(246, 255, 196);

    display:flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
}

.contentDay{
    background-color: rgb(11, 138, 28);
    height: 300px;
    width: 250px;

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

#citySubmit{
    
    margin-left: 5px;
}

form{
    display:flex;
}

.weatherResult{
    color: rgb(253, 255, 255);
}

.contentWeek{
    background-color: rgb(53, 179, 69);
    width: 250px;
    height: auto;
    text-align: center;
    
    flex-direction: row;
}

.week{
    padding:11px;
}

