body{
    background-color: rgb(234, 255, 255);
}

.container{
    height: 100vh;
    background-color: rgb(13, 97, 97);
    opacity: 0.5;
    Color: rgb(246, 255, 196);

    display:flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
}

.contentDay{
    background-color: rgb(11, 138, 28);
    height: 300px;
    width: 250px;

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

#citySubmit{
    
    margin-left: 5px;
}

form{
    display:flex;
}

.weatherResult{
    color: rgb(253, 255, 255);
}

.contentWeek{
    background-color: rgb(53, 179, 69);
    width: 250px;
    height: auto;
    text-align: center;
    
    
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}
.dayOne { grid-area: 1 / 1 / 2 / 2; }
.dayOne { grid-area: 1 / 1 / 2 / 2; }
.dayTwo { grid-area: 2 / 1 / 3 / 2; }
.dayThree { grid-area: 3 / 1 / 4 / 2; }
.dayFour { grid-area: 4 / 1 / 5 / 2; }
.dayFive { grid-area: 5 / 1 / 6 / 2; }
.dayOneImg { grid-area: 1 / 2 / 2 / 3; }
.dayTwoImg { grid-area: 2 / 2 / 3 / 3; }
.dayThreeImg { grid-area: 3 / 2 / 4 / 3; }
.dayFourImg { grid-area: 4 / 2 / 5 / 3; }
.dayFiveImg { grid-area: 5 / 2 / 6 / 3; }


.week{
    padding:11px;
}

