body{
    background-color: rgb(234, 255, 255);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 97, 97);
    opacity: 0.5
}

.content{
    background-color: rgb(11, 138, 28);
    height: 250px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#citySubmit{
    height: 22px;
    width: 33px;
    margin-left: 5px;
}

form{
    display:flex;
}

.weatherResult{
    color: rgb(253, 255, 255);
}